<header class="p-4 bg-dark text-white mb-3">
  <div class="contenedor text-center">
    <div class="row">
      <div class="col">
        <h4 class="user text-start mt-3">Clients</h4>
      </div>
     
    </div>
  </div>
</header>

<div class="container mt-3">
  <div class="introduction text-center">
    <h4 class="mt-5">Welcome to the app</h4>
    <h5>Please Login or Register</h5>
    <div class="buttons">
      <button class="btn btn-primary me-3 mt-4 mb-4" [routerLink]="['/login']"
        routerLinkActive="router-link-active">Login</button>
      <button class="btn btn-success mt-4 mb-4" [routerLink]="['/register']"
        routerLinkActive="router-link-active">Register</button>
    </div>


  </div>
</div>
