<div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body text-center">
            <div class="body">
              <img src="../../../assets/images/login.png" alt="login" width="100">
            </div>
            <span class="titulo mb-4">We send you an email to verify your account</span><br>
            <button class="btn btn-success mt-3" [routerLink]="['/login']" routerLinkActive="router-link-active" >Back to login</button>
          
  
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  
